body {
  /* background: rgb(154, 199, 154); */
  font-family: 'Prompt', sans-serif;
}

.container {
  /* display: flex;
  justify-content: column; */
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  margin: 0px, 0px, 0px, 0px;
}

/*----------- HOME PAGE -----------*/
/* .homepage {
  margin-top: 50px;
} */

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  scroll-snap-align: start;
  background-color: rgba(228, 228, 228, 0.1);
}

.board-title {
  margin: 20px;
}

.row {
  /* background: rgb(189, 189, 189, 0.5); */
  height: 100vh;
  /* border: 2px solid black; */
}

.col-sm-2 {
  border-top: 2px solid black;
  color: black;
  margin: 15px;
}

.nav-item {
  margin-top: 20px;
  /* border-top: 1px solid white; */
  border-bottom: 1px solid white;
}

button {
  margin: 10px;
}

.anuthaOne {
  display: flex;
  justify-content: center;
}

input {
  outline: black;
}

.ticket-container {
  color: black;
}

/*------------bootstraaahhppp-------------*/

form {
  max-width: 200px;
  align-items: center;
  margin: 0px;
}

.form-control {
  align-items: center;
}
